.film-block {
  color: #000;
  font-size: 16px;
  padding: 5px 0px;
  text-align: left;
}
.name_film {
    font-weight: bold;
    
    margin-top: 0;
    margin-bottom: 2px;
}

.image-film {
  width: 100%;
  height: auto;
}

.image-block-film {
  max-width: 104px;
  max-height: 260px;
  padding: 4%;
  padding-top: 0;
}

.epyzode {
  padding: 5px;
  background-color: #f5f5f5;
  color:  #808080;
  font-weight: 600;
}

.year-film {
  padding: 1px;
  margin: 0px;
}