.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

/* calendar */
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #ffffff;
  outline: 2px solid #e10246;
  font-weight: bold;
  
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: #ffffff;
}
.react-calendar__tile--active {
   
  color: black;
}
.react-calendar button {
  margin: 0;
  border: 1px solid #d0d4d9;
  outline: none;
}
.calendar-wrapper, .react-calendar {
  margin: 0 auto;
}